.contentStats{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15%;
    align-items: center;
    &_stats{
        display: flex;
        width: 30vw;
        height: 30vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    &_stats:hover{
        cursor: pointer;
        background-color: #1087FF;
    }

    &_resum{
        display: flex;
        width: 30vw;
        height: 30vh;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    &_resum:hover{
        cursor: pointer;
        background-color: #8A66D2;
    }
}

.contentResum{
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
    &_int{
        display: flex;
        gap: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        justify-content: center;
        align-items: center;
        padding: 6px;
        border-radius: 10px;
        background-color: #70FACB;
    &_date{

    }
    &_day{

    }
    &_img{
        &_I{
            width: 20px;
            height: 20px;
        }
    }
    }
}
.backButton{
        margin-left: -80%;
        font-size: 18px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        padding: 10px 10px 7px 10px;    
        width: 80px;
        height: 60px; 
}
.backButton:hover{
    cursor: pointer;
    background-color: #1087FF;
}
.backImgResum{
    width: 30px;
    height: 30px;
  }

.contentDaystats{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: -30%;
    justify-content: center;
    align-items: center;
}
.contentDaySmile{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 150px;
        padding: 10PX;
        padding: 10px 10px 7px 10px;    
        width: 30vw;
        height: 30vh; 
        background-color: #70FACB;
        
}
.backButton1{
    margin-left: -80%;
        
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        padding: 10px 10px 7px 10px;    
        width: 80px;
        height: 60px;
        margin-right: 400px;
}
.backButton1:hover{
    cursor: pointer;
    background-color: #1087FF;
}
.backImgResum1{
    width: 30px;
    height: 30px;
}
.wordDaySstats{
    color: rgb(0, 0, 0);
    font-size: 20px;
  
}